* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(5, 10, 37);
}

.login {
    display: flex;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 3%;
    height: 25em;
    width: 30em;
}

.loginText {
    margin-bottom: 2em;
}

.loginText h1{
    font-weight: 700;
    font-size: 1.5em;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    gap: 0.4em;
}

input {
    border-color: hsl(209, 100%, 91%, 0.1);
    border-radius: 0.5em;
    border-style:solid;
    padding: 0.8em;
    width: 23em;
    border-width: 0.29em;
}

input:hover{
    border-color: hsl(209, 100%, 91%);
}

input:focus {
    border-color: hsl(209, 100%, 91%);
    outline: none;
}

button {
    margin-top: 2em;
    height: 3.2em;
    border-radius: 0.5em;
    background-color: rgb(21, 112, 239);
    border: none;
    color: #ffff;
}

button:hover {
    background-color:rgb(15, 87, 187) ;
}

.login-exception{
    display: flex;
}